//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1146;
$containerPadding: 15;
$headerContainer: 1300;
// ЦВЕТА
$colorWhite: #fff;
$colorDark: #323232;
$colorBlue: #DBDEE7;
$colorPurple: #A82682;
$colorOrange: #EF7F1A;
$gradient: linear-gradient(45deg, rgba(168, 38, 130, 0.9) 14.64%, #F0801A 85.36%);

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #fff;
$fontFamily: "Onest";
$fontMontserrat:'Montserrat', sans-serif;
$fontAgous: 'Noto Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fortArsenal: 'Arsenal', sans-serif;