//< " ФАЙЛ СТИЛЕЙ ФУТЕРА " >=============================================================================================================>//
.footer{
  &__body{
    display: flex;
    padding: 80px 0;
    justify-content: space-between;
    column-gap: 20px;
  }
  a{
    color: $colorDark;
  }
  &__left{
    display: flex;
    column-gap: 55px;
  }
  &__column{
    display:flex;
    flex-direction:column;
  }
  &__column-1{
    justify-content: space-between;
  }
  &__contact{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  &__phone, &__mail{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $colorDark;
  }
  &__location{
    font-size: 16px;
    line-height: 20px;
  }
  &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  &__lists{
    display: flex;
    column-gap: 20px;
  }
  &__list{
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    width: 100%;
    max-width: 195px;
  }

  @media (max-width: 960px){
    &__body{
      padding: 60px 0 47px 0;
      flex-direction: column;
    }
    &__contact{
      row-gap: 16px;
    }
    &__column-1{
      justify-content: stretch;
      row-gap: 16px;
    }
    &__lists{
      column-gap: 40px;
    }
    &__left{
      column-gap: 19px;
    }
    &__column-1{
      max-width: 31%;
    }
    &__phone, &__mail{
      font-size: 15px;
    }
  }

  @media (max-width: 640px){
    &__body{
      flex-direction: column-reverse;
      row-gap: 20px;
      font-size: 14px;
      padding: 40px 0;
    }
    &__left{
      flex-direction: column;
      row-gap: 30px;
    }
    &__phone, &__mail{
      font-weight: 700;
    }
    &__lists{
      column-gap: 20px;
    }
    &__column-1{
      max-width: none;
    }
    &__title{
      font-weight: 700;
    }
  }

  @media (max-width: 400px){
    &__lists{
      flex-direction: column;
      row-gap: 13px;
    }
  }

}