.main{
  margin-bottom: 120px;
  
  &__body{
  }
  &__pc{
    display: flex;
    justify-content: space-between;
    @include adaptiv-value(column-gap, 20, 10, 0);
  }
  &__mob{
    display: none;
  }
  &__left{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    row-gap: 30px;
    max-width: 656px;
    img{
      width: 100%;
      object-fit: contain;
    }
    &-bottom{
      display: flex;
      justify-content: space-between;
      @include adaptiv-value(column-gap, 20, 10, 0)
    }
  }
  &__right{
    img{
      border-radius: 24px;
      height: 100%;
    }
  }
  & .banner{
    background: $gradient;
    border-radius: 24px;
    padding: 2px;
    position: relative;
    width: 100%;
    
    &__background-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 48px;
    background: #fff;
    border-radius: 24px;
  }

  &::before{
    content:url('../img/main/mangust.png');
    position: absolute;
    left: 0;
    bottom: 0;
  }

    &__title{
      font-family: $fortArsenal;
      font-weight: 700;
      font-size: 44px;
      line-height: 95%;
      text-align: center;
      color: $colorDark;
      @include adaptiv-value(margin-bottom, 24, 16, 0);
    }
    &__text{
      font-family: $fontAgous;
      font-weight: 400;
      font-size: 24px;
      line-height: 27px;
      text-align: center;
      @include adaptiv-value(margin-bottom, 24, 20, 0);
      max-width: 300px;
    }
    &__button{
      padding: 16px 40px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      border-radius: 30px;
    }
  }
@media (min-width: 960px) and (max-width: 1200px){
  & .banner{
    &__background-body{
      padding: 56px 68px;
      @include adaptiv-value(padding-top, 56, 30, 0);
      @include adaptiv-value(padding-bottom, 56, 30, 0);
      @include adaptiv-value(padding-left, 68, 50, 0);
      @include adaptiv-value(padding-right, 68, 50, 0);

    }
    &__title{
      @include adaptiv-font(40, 35);
      margin-bottom: 16px;
    }
    &__text{
      @include adaptiv-font(20, 10);
      line-height: 22px;  
      margin-bottom: 20px;  
    }
    &__button{
      @include adaptiv-font(16, 10);
      line-height: 20px;  
      @include adaptiv-value(padding-left, 40, 15, 0);
      @include adaptiv-value(padding-right, 40, 15, 0);
    }

    &::before{
      content: url("../img/main/mangust-1200.png");
    }
  }
}

  @media(max-width: 1200px){
    &__left{
      max-width: 540px;
    }
    &__right{
      img{
        max-width: 380px;
        max-height: 577px;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media(max-width: 960px){
    &__pc{
      display: none;
    }
    &__mob{
      display: block;
    }
    margin-bottom: 80px;
  }
  @media (max-width: 640px){
    margin-bottom: 30px;
    &__container{
      padding: 0;
    }

    & .banner{

      &__background-body{
        padding: 36px 28px;
        padding-bottom: 118px;

      }
      &::before{
        content: url('../img/main/mangust-640.png');
        bottom: -2px;
        left: 20px;
      }
      &__title{
        font-size: 28px;
      }
      &__text{
        font-size: 16px;
        line-height: 18px;
      }
      &__button{
        font-size: 14px;
        line-height: 18px;
        padding: 16px 0px;
        width: 100%;
      }
    }
  }
}