//< " ФАЙЛ СТИЛЕЙ ПОПАПА " >=============================================================================================================>//
.popup-wrapper {

	// .popup-wrapper__item

	&__item {
		width: 100%;
		height: 100%;
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		overflow: auto;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease .0s;
		background-color: rgba(0, 0, 0, 0.5);

		@media (any-hover: hover) {
			&::-webkit-scrollbar {
				width: 6px;
				box-shadow: inset 0px 0px 1px rgb(134, 134, 134);
				background-color: #e9e9e9;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #82878F;

				&:hover {
					background-color: #6d7177;
				}
			}
		}

		&._active {
			opacity: 1;
			pointer-events: auto;

			.popup-item__body {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

.popup-item {
  // .popup-item__body

  padding: 0 50px;
  @media (max-width: 600px){
    padding: 0 17px;
  }
	&__body {
    position: relative;
		margin: auto;
		max-width: 900px;
		width: 100%;
		overflow: hidden;
		box-shadow: 0px 0px 40px rgba(165, 178, 192, 0.9);
		opacity: 0;
		transform: scale(0.8);
		transition: opacity .3s ease .0s, transform .3s ease .0s;
    border-radius: 15px;
    
		@media (max-width: 425.2px) {
			max-width: none;
		}
	}

	// .popup-item__top

	&__top {
		padding-top: 80px;
		@include adaptiv-value("padding-right", 70, 0, 1);
		@include adaptiv-value("padding-left", 70, 0, 1);
		padding-bottom: 10px;
		@include adaptiv-value("min-height", 68, 58, 1);
		width: 100%;
		display: flex;
    flex-direction: column;
    align-items: center;
		background-color: $colorWhite;
    text-align: center;
    padding-bottom: 0;
	}

	// .popup-item__title

	&__title {
    margin-bottom: 16px;
		text-transform: uppercase;
		@include adaptiv-value("font-size", 32, 16, 1);
		font-weight: 600;
    line-height: 98%;
		letter-spacing: 0.1em;
		text-align: center;
		color: $colorDark;
    @media (min-width: 1200px){
      font-size: 32px;
    }
	}
  &__text{
    @include adaptiv-value("margin-bottom", 34, 24, 1);
    font-size: 18px;
    @include adaptiv-value("font-size", 18, 12, 1);
    line-height: 23px;
    max-width: 600px;
  }
  &__form{
    display:flex;
    flex-direction:column;
    align-items: center;
    row-gap: 12px;
    max-width: 370px;
  }
  &__input{
    @include adaptiv-value("font-size", 16, 14, 1);
    line-height: 20px;
    padding: 20px 24px;
    border: 1px solid #DBDEE7;
    border-radius: 6px;
    width: 100%;
    input{
      width: 100%;
    }
  }
  &__button{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 0;
    border-radius: 30px;
    text-align: center;
  }
  &__policy{
    font-size: 12px;
    line-height: 15px;
    color: #5F5F5F;
    a{
      color: #5F5F5F;
      text-decoration: underline;
    }
    @media (max-width: 600px){
      text-align: center;
    }
  }

	// .popup-item__close

	&__close {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
    position: absolute;
    right: 30px;
    top: 30px;
    background: #E5E5E5;
    border-radius: 50%;
    padding: 17.5px;

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
		span {
			width: 12px;
			height: 2px;
			display: flex;
			position: relative;
			background-color: transparent;

			&:before,
			&:after {
				content: "";
				width: 12px;
				height: 2px;
				position: absolute;
				background-color: $colorDark;
			}

			&:before {
				top: -8px;
				transform: rotate(45deg) translate(5px, 6px);
			}

			&:after {
				top: 8px;
				transform: rotate(-45deg) translate(5px, -6px);
			}
		}
	}

	// .popup-item__content

	&__content {
		@include adaptiv-value("padding-right", 20, 15, 1);
		@include adaptiv-value("padding-left", 20, 15, 1);
    max-height: 540px;
		overflow: auto;
		background-color: $colorWhite;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;

    @media (min-width: 1200px){
      padding-bottom: 90px;
    }
    @media (max-width: 1200px){
      padding-bottom: 60px;
    }
		@media (any-hover: hover) {
			&::-webkit-scrollbar {
				width: 6px;
				box-shadow: inset 0px 0px 1px rgb(134, 134, 134);
				background-color: #e9e9e9;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #82878F;

				&:hover {
					background-color: #6d7177;
				}
			}
		}
	}
}