.portfolio{
  margin-bottom: 120px;
  &__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 95%;
    color: #000;
    font-family: $fortArsenal;
    margin-bottom: 50px;
  }
  &__collage{
    display: flex;
    justify-content: center;

    &.tablet{
      justify-content: stretch;
      animation: translateTablet 15s ease infinite alternate;
    }
    &.mobile{
      display: none;
      justify-content: stretch;
      animation: translate 10s ease infinite alternate;
      img{
        height: 100%;
        object-fit: cover;
      }
      .portfolio__img-5, .portfolio__img-6{
        width: 100%;
      }
    }
    @media (max-width: 960px){
      display: none;
      &.mobile{
        display: flex;
      }
    }

    &.slider-collage{
      display: none;
      overflow: visible;  

      .portfolio__collage-body{
        justify-content: stretch;
        gap: 0;
        padding: 0;
      }
      .swiper-slide{
        max-width: 300px;
        img{
          width: 100%;
        }
      }
    }
    @media (max-width: 640px){
    &.slider-collage{
      display: block;
    }
    &.mobile{
      display: none;
    }
    }
  }
  &__collage-body{
    display: grid;
    padding: 0 10px;
    gap: 30px;
    width: fit-content;
    justify-content: center;
    transition: all 1s linear 0s;
    grid-template-areas:
    "box1 box2 box3 box4 box6 box6"
    "box1 box2 box5 box5 box7 box8";
  }
  &__img-1{
    grid-area: box1;
  }
  &__img-2{
    grid-area: box2;
  }
  &__img-3{
    grid-area: box3;
  }
  &__img-4{
    grid-area: box4;
  }
  &__img-5{
    grid-area: box5;
  }
  &__img-6{
    grid-area: box6;
  }
  &__img-7{
    grid-area: box7;
  }
  &__img-8{
    grid-area: box8;
  }

  @media (max-width: 1200px){
    margin-bottom: 100px;
    &__title{
      font-size: 40px;
      margin-bottom: 40px;
    }
  }
  @media (max-width: 960px){
    margin-bottom: 80px;
  }
  @media (max-width: 640px){
    margin-bottom: 60px;
    &__title{
      font-size: 32px;
    }
  }
}

@keyframes translateTablet {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-2342px + 90vw));
  }
}
@keyframes translate {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-1393px + 85vw));
  }
}